<div class="col-md-10 col-md-offset-1">
  <div>
    <div>Erro...</div>
    <div class="alert-danger">
      <div class="alert alert-danger" role="alert">
        Imposivel calcular seu problema ou seu limite de interação foi atingido
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <%= link_to "Voltar", root_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>